.members-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
  align-items: center; /* Center the entire section */
}

.members-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 1rem; /* Space between cards */
  justify-items: center; /* Center align individual cards */
  align-items: center; /* Align items vertically within the grid */
  width: auto; /* Adjust to content width */
  margin-top: 15px;
}

.member-card {
  width: 300px; /* Card width */
  flex: none; /* Ensure cards don't shrink or grow */
  margin: 10px;
}
