/* Default navbar styles (for non-home pages) */
.navbar {
  width: 100%;
  z-index: 10;
  background: white; /* Background color for non-home pages */
  color: black; /* Text color for non-home pages */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: black; /* Text color for non-home pages */
}

/* Navbar for the home page */
.navbar.home-navbar {
  position: absolute; /* Absolute positioning for the home page */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent !important; /* Transparent background */
  color: white; /* White text for the home page */
}

.navbar.home-navbar .navbar-brand,
.navbar.home-navbar .nav-link {
  color: white; /* Text color for the home page */
}

/* Hover effects for both states */
.navbar .nav-link:hover {
  color: rgba(0, 0, 0, 0.8); /* Slightly darkened color for non-home pages */
}

.navbar.home-navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.8); /* Slightly brightened color for the home page */
}

/* Active link styles */
.navbar .nav-link.active {
  color: rgb(128, 128, 128); /* Gray for active links on non-home pages */
}

.navbar.home-navbar .nav-link.active {
  color: rgb(187, 187, 187); /* Lighter gray for active links on the home page */
}
