<footer class="footer">
    <div class="footer-content">
      <div class="row">
        <!-- Section 1 -->
        <div class="col-md-2">
          <h5 class="footer-heading">Section</h5>
          <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
  
        <!-- Section 2 -->
        <div class="col-md-2">
          <h5 class="footer-heading">Section</h5>
          <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
  
        <!-- Section 3 -->
        <div class="col-md-2">
          <h5 class="footer-heading">Section</h5>
          <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
  
        <!-- Subscribe Section -->
        <div class="col-md-4 push">
          <h5 class="footer-heading">Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <form class="subscribe-form">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
                required
              />
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="footer-bottom row mt-4">
        <div class="col-md-6">
          <p>© 2021 Company, Inc. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </footer>
  