form {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 20px;
  width: 30%;
  z-index: 99;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

input.mat-input-element {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

mat-error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0069d9;
}

.logo {
  margin-bottom: 40px;
  margin-top: 40px;
}


.login-error-show {
  color: #fa091d;
  margin-bottom: 20px;
  transition: 1s;

}

.hide {
  display: none;
}

.blur {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}