<head>
  <!-- ... -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="blur" *ngIf="showComponent">
    <div class="overlay"></div>
    <form>
      <img src='/assets/cedIcon.png' class="logo" alt="cedIcon" width="200" height="50">
      <h2>Document Generator</h2>
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput (click)="hideError()" [formControl]="nameControl" [(ngModel)]="name" required>
        <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
      </mat-form-field> <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput (click)="hideError()" [formControl]="passwordControl" [(ngModel)]="password" required>
        <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
      </mat-form-field>
      <div class="login-error-show hide">You may check your log data or your connection</div>
      <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
    </form>

  </div>
  <!-- Add the following to the bottom of the <body> tag -->
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>