<div class="profile-page">
    <!-- Header Section -->
    <div class="profile-header">
      <img src="../../assets/4k-gaming-9387X5280-wallpaper-wimtf2mr9x5tu022.jpg" alt="Profile Picture" class="profile-picture" />
      <div class="profile-info">
        <div><strong>Email : </strong>{{ "Wael el ghozzi" }}</div>
        <div><strong>Email : </strong>{{ "developpeur" }}</div>
        <div><strong>Email : </strong>{{ "1ere anne" }}</div>
      </div>
      <div class="contact-info push">
        <div><strong>Email : </strong> {{ "member.email" }}</div>
        <div><strong>Phone : </strong> {{ "member.phone" }}</div>
      </div>
    </div>
  
    <!-- Details Section -->
    <div class="details-section">
      <div class="personal-details">
        <h2>Personal Details</h2>
        <ul>
          <li><strong>Gender:</strong> {{ "member.gender" }}</li>
          <li><strong>Date of Birth:</strong> {{ "member.dob" }}</li>
          <li><strong>Blood Group:</strong> {{ "member.bloodGroup" }}</li>
          <li><strong>Registered Email:</strong> {{ "member.registeredEmail" }}</li>
          <li><strong>Permanent Address:</strong> {{ "member.permanentAddress" }}</li>
          <li><strong>Residential Address:</strong> {{ "member.residentialAddress" }}</li>
        </ul>
      </div>
  
      <div class="academics">
        <h2>Academia</h2>
        <table>
          <thead>
            <tr>
              <th>Degree</th>
              <th>Institution</th>
              <th>Marks</th>
              <th>Year</th>
              <th>Marksheet</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ "degree.degree" }}</td>
              <td>{{ "degree.institution" }}</td>
              <td>{{ "degree.marks" }}</td>
              <td>{{ "degree.year" }}</td>
              <td><a href="#">Attach file</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Social Network Section -->
    <div class="social-network">
      <h2>Social Network</h2>
      <div class="social-links">
      </div>
    </div>
  </div>
  